<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上传书籍</title>
    <link rel="stylesheet" href="/css/submitPage.css">
</head>
<body>
    <form th:action="@{/user/submitbook/onsubmit}" method="post" enctype="multipart/form-data" novalidate>  
        <h2>上传书籍</h2>  
        <p>书名：<input type="text" th:placeholder="请输入书籍名称" name="bookName" required="required"/></p>  
        <p>作者：<input type="text" th:placeholder="请输入作者名称" name="author" /></p>  
        <p>出版社：<input type="text" th:placeholder="请输入出版社名称" name="publisher" /></p>  
        <p>书籍类别：  
            <select id="selectBookLable" name="bookLable" th:onchange="'javascript:Submitsystem.initBook()'" >  
                <option value="" disabled selected>请选择书籍类别</option>  
                <option th:each="label : ${SubLabels}" th:value="${label.lable}" th:text="${label.lable}"></option>
            </select>  
        </p>  
        <p>出售价格：<input type="number" name="price" min="0" th:placeholder="请输入价格" /></p>  
        <p>书籍图片：<input type="file" name="img" accept="image/*"/></p>  
        <p>书籍描述  
            <textarea id="details" name="details" rows="7" cols="25" th:placeholder="说明书籍的新旧状况等"></textarea>  
        </p>  
        <p><input type="submit" value="确认上传"></p>  
    </form>
    
    <script async src="/js/bookinfo.js"></script>
    <script async src="/js/submitSys.js"></script>
</body>
</html>